<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- link css  -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- Title Page -->
    <title>Boolzap</title>
</head>

<body>
    <!-- app Js vue -->
    <div id="app">
        <!-- container front page-->
        <div class="container d-flex">
            <!-- cont left whit all chat -->
            <div class="cont_left">
                <div id="up_left" class="top_div_head justify-content-between align-items-center d-flex ">
                    <div class="d-flex">
                        <img src="./assets/img/avatar_io.jpg" class="rounded-circle me-3" width=50 alt="">
                        <div class="">
                            <h6 class="pt-3">Sofia</h6>
                        </div>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-notch fa-lg" style="color: #c6c9cd;"></i>
                        <i class="fa-solid fa-message fa-lg" style="color: #c6c9cd;"></i>
                        <i class="fa-sharp fa-solid fa-ellipsis-vertical fa-lg " style="color: #c6c9cd;"></i>
                    </div>
                </div>
                <!-- notification  -->
                <div class="d-flex info_msg">
                    <div class="m-2 pt-2">
                        <i class="fa-solid fa-bell-slash fa-2x" style="color: #c6c9cd;"></i>
                    </div>
                    <div class="flex-column pt-1">
                        <h6>Ricevi notifiche di nuovi messaggi</h6>
                        <a class="c_gray" href="#">Attiva notifiche Dekstop</a>
                    </div>
                </div>
                <!-- contact boozap -->
                <!-- search box  -->
                <div id="search_box" class="d-flex align-items-center">
                    <div class="d-flex w-100 py-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <i id="border_serch" class=" fa-solid fa-magnifying-glass fa-fw "
                                style="color: #c6c9cd;"></i>
                        </div>
                        <input type="text" v-model="search" id="search_input"
                            placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <!-- #End search box  -->
                <!-- add dinamic list_chat whit Vue -->
                <div id="list_chat">
                    <div>
                        <div @click="activeUser = index"
                            v-show="(contact.name.toLowerCase().includes(search.toLowerCase()) && search != '') || (contact.visible == true && search == '')"
                            v-for="(contact, index) in contacts" class="user_contact p-3 justify-content-between"
                            :class="index === activeUser ? 'active' : ''">
                            <div class="user_info d-flex justify-content-between ">
                                <div class="d-flex">
                                    <img :src="contact.avatar" width=50
                                        class="rounded-circle img-fluid align-self-center" alt="">
                                    <div class=" ms-2">
                                        <h6>{{contact.name}}</h6>
                                        <span class="d_flex"
                                            v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length-1].message}}</span>
                                    </div>
                                </div>
                                <span
                                    v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length-1].date.slice(11,
                                    16)}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- #End add dinamic list_chat whit Vue -->
                </div>
                <!-- #End contact_list -->
            </div>
            <!-- #end cont left whit all chat -->
            <!-- cont right whit info user -->
            <div class="cont_right">
                <div id="up_right" class="top_div_head justify-content-between align-items-center d-flex ">
                    <div class="d-flex">
                        <img :src="contacts[activeUser].avatar" class="rounded-circle me-3" width=50 alt="">
                        <div>
                            <h6>{{contacts[activeUser].name}}</h6>
                            <span>Ultimo accesso
                                {{contacts[activeUser].messages[contacts[activeUser].messages.length-1].date}}</span>
                        </div>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass fa-lg style=" style="color: #c6c9cd;"></i>
                        <i class="fa-solid fa-paperclip fa-lg style=" style="color: #c6c9cd;"></i>
                        <i class="fa-sharp fa-solid fa-ellipsis-vertical fa-lg " style="color: #c6c9cd;"></i>
                    </div>
                </div>
                <!-- #Endcont right whit info user -->
                <!-- container right whit chat current -->
                <div class="chat_container">
                    <!-- current chat -->
                    <div id="app_main_chat" class="py-3 px-5 d-flex flex-column">
                        <div v-for="message in contacts[activeUser].messages" class="chat">
                            <div class="d-flex justify-content-between align-items-center"
                                :class="message.status === `sent` ? `chat_sent` :`chat_received`">
                                <span>{{message.message}}</span>
                                <div class="text_info d-flex flex-column">
                                    <div class="option_chat align-self-end"><i class="fa fa-angle-down"
                                            aria-hidden="true"></i></div>
                                    <div class="text_hour">{{message.date.slice(11,16)}}<span><i
                                                class="fa-solid fa-check"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- #end cont right whit current chat -->
                    </div>
                    <div class="d-flex text-center align-items-center bottom_chat justify-content-around">
                        <i class="fa-regular fa-face-smile icon_color_dark fa-lg" style="color: #a9abad;"></i>
                        <input type="text" class="form-control w-75" name="newchat" id="newchat"
                            placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone icon_color_dark fa-lg" style="color: #a9abad;"></i>
                    </div>
                </div>
                <!-- #end container front page-->
            </div>
            <!-- #End app Js vue -->

            <!-- EXTERNAL Vue3 JS CDN -->
            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
            <!-- LINK main JS-->
            <script src="./assets/js/main.js"></script>
</body>

</html>