/* region root */
:root {
    --font-whatsapp: Helvetica, sans-serif;
    --wtzp-accent: #009688;
    --wtzp-neutral: #dadbd3;
    --wtzp-notification: #8edafc;
    --wtzp-coms: #eaeaea;
    --wtzp-primary: #d5f9ba;
    --wtzp-bg-chat: #f3eeea;
    --wtzp-icons: #b1b1b1;
    --wtzp-white: #ffffff;
    --wtzp-black: #1e1e1e;
}

/* #END region root */
/* Region layout color and height + widht */
body {
    height: 100vh;
    background:
        linear-gradient(180deg, var(--wtzp-accent) 0%,
            var(--wtzp-accent) 15%,
            var(--wtzp-neutral) 15%,
            var(--wtzp-neutral) 100%);
}

#app {
    position: relative;
    height: 100%;
}

/* #End Region layout color and height + widht */
/* Region Container chat left whit all chat */

#list_chat {
    height: calc(100% - 140px);
    overflow-y: auto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
}

.row {
    height: 100%;
}

img {
    margin-left: 1rem;
}

i {
    padding: 0 1rem;
}

.cont_left {
    width: 30%;
    height: 100%;
    background-color: white;
}

.c_gray {
    color: rgb(49, 49, 49);
}

.info_msg {
    background-color: #8edafc;
    height: 70px;
}

/* Region SerachBox */
#search_box {
    height: 30px;
    background-color: var(--wtzp-bg-chat);
}

#search_input {
    width: 100%;
    border: 1px solid var(--wtzp-icons);
}

#border_serch {
    width: 100%;
    border: 1px solid var(--wtzp-icons);
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
}

/* #End Region SerachBox */
/* #End Region Container chat */
/* region cont right */
.cont_right {
    width: 70%;
    background-color: var(--wtzp-white);
    border-left: 1px solid var(--wtzp-icons);
}

#app_main_chat .chat {
    height: 70px;
}

.chat_received,
.chat_sent {
    width: 45%;
    border-radius: 9px;
    padding-left: 1rem;
}

.chat_sent {
    margin-left: auto;
    background-color: var(--wtzp-primary);
}

.chat_received {
    background-color: var(--wtzp-white);
}

.option_info {
    align-self: flex-end;
    padding-right: 2px;
    color: var(--wtzp-icons);
}

.text_hour {
    font-size: x-small;
    padding-right: 5px;
    color: var(--wtzp-icons);
}

.text_hour span {
    padding-left: 2px;
    color: var(--wtzp-double-checked);
}

/* #End region cont right */
/* region commons for cont right and left */
.top_div_head {
    height: 70px;
    background-color: var(--wtzp-coms);
}

.chat_container {
    height: calc(100% - 140px);
    background-image: url("../img/mine.jpg");
}

.bottom_chat {
    height: 70px;
    background-color: var(--wtzp-bg-chat);
}

#app_main_chat {
    height: 100%;
}

/* #End region commons for cont right and left */